<!-- this is for "/api/countries/:code/cities" -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Hello! World</title>

    <!-- Font Awesome icons (free version) -->
    <script
      src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"
      crossorigin="anonymous"
    ></script>

    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Third party plugin CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
      rel="stylesheet"
    />

    <!-- a safety net when core theme css not working -->
    <!-- not sure why this ejs suddenly can't load core css... I need to do style inline ugh -->
    <!-- Bootstrap -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Core theme CSS (includes Bootstrap) -->
    <link href="style.css" rel="stylesheet" />

    <!-- Flag-Icon-CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css"
      rel="stylesheet"
    />
  </head>

  <body style="background: #004040">
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top py-3"
      id="mainNav"
      style="
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #c6728a;
        transition: background-color 0.2s ease;
      "
    >
      <div class="container">
        <a
          class="navbar-brand"
          href="https://yec24-assignment-3b.glitch.me/"
          style="color: #6c757d; font-weight: 700"
          onMouseOver="this.style.color='#bec7d0'"
          onMouseOut="this.style.color='#6c757d'"
          >Hello! World (｡◕∀◕｡)</a
        >

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link disabled"
                >You're now in Cities from a Specific Country</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section" style="padding: 8rem 0">
      <div class="container text-light">
        <h2 class="text-white mt-0"><%= code %> !</h2>

        <div class="row justify-content-center text-left">
          <% if (msg === "found") { %>
          <div class="col-lg-2 col-md-12 text-center">
            <div class="mt-5">
              <div
                class="flag-icon flag-icon-<%= code.toLowerCase() %>"
                style="width: 100%; height: 50px"
              ></div>
            </div>
          </div>

          <div class="col-lg-10 col-md-12 text-left">
            <div class="mt-5">
              <% if (cities) { %>
              <h3 class="h4 mb-2"><%= cities[0].country %></h3>
              <p>
                <% cities.forEach(city => { %> City: <%= city.city
                %>&nbsp;&nbsp;&nbsp;&nbsp; Attraction: <%= city.attraction %><br />
                <% }); %>
              </p>
              <% } else { %>
              <h3 class="h4 mb-2">Sorry~ No Cities Found</h3>
              <% } %>
            </div>
          </div>

          <% } else { %>
          <div class="col-lg-2 col-md-12 text-center">
            <div class="mt-5"></div>
          </div>

          <div class="col-lg-10 col-md-12 text-left">
            <div class="mt-5">
              <h3 class="h4 mb-2">Sorry~ Invalid Country ISO Code</h3>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="bg-light py-5"></footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- Core theme JS-->
    <script src="script.js"></script>
  </body>
</html>
